@import "./variable.scss";
.layout_wrapper {
    position: relative;
    padding-top: 12px;
    .content {
        width: calc(100% - 280px);
        max-height: 100%;
        min-height: calc(100vh - 12px);
        float: right;
        background-color: var(--bg-content);
        border-radius: 40px 0 0 0;
        transition: width 0.3s ease;
    }
    &::after {
        position: fixed;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100px;
        background-color: var(--sidebar-bg);
        z-index: -99;
    }
}
body {
    
    &[data-theme="dark"] {
        .layout_wrapper {
            .content {
                border: 1px solid var(--border-color);
                border-right: 0;
                border-bottom: 0;
            }
        }
    }
    &[data-theme-direction="rtl"] {
        direction: rtl;
        .layout_wrapper {
            .content {
                float: left !important;
                border: 1px solid var(--border-color);
                border-left: 0;
                border-bottom: 0;
                border-radius: 0 40px 0 0;
            }
        }
    }
}
.unreadmessage-div
{
    background-color:beige
}
@media only screen and (max-width: 1024px) {
    .layout_wrapper {
        .content {
            width: 100% !important;
        }
    }
}
